<div class="info-table">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
          <tr>
            <th class="text-center">
              w
            </th>
            <th class="text-center">
              u
            </th>
            <th class="text-center">
              v
            </th>
          </tr>
        </thead>
        <tbody>
          <tr id='addr0'>
            <td>
              <input type="text" placeholder='w' class="form-control" ng-model="vm.params[0]" disabled/>
            </td>
            <td>
              <input type="text" placeholder='u' class="form-control" ng-model="vm.params[1]" disabled/>
            </td>
            <td>
              <input type="text" placeholder='v' class="form-control" ng-model="vm.params[2]" disabled/>
            </td>
          </tr>
          <tr id='addr1'></tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
          <tr>
            <th class="text-center">
              Order
            </th>
            <th class="text-center">
              Learning rate
            </th>
            <th class="text-center">
              Mean square error (MSE)
            </th>
          </tr>
        </thead>
        <tbody>
          <tr id='addr0'>
            <td>
              <input type="text" placeholder='Order' class="form-control" value="{{vm.equation.order}}" disabled/>
            </td>
            <td>
              <input type="text" placeholder='Learning rate' class="form-control" ng-model="vm.new_learning_rate"/>
            </td>
            <td>
              <input type="text" placeholder='MSE' class="form-control" ng-model="vm.ms_error" disabled/>
            </td>
          </tr>
          <tr id='addr1'></tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
          <tr>
            <th class="text-center">
              Dataset size
            </th>
            <th class="text-center">
              Proportion (Train - Test)
            </th>
            <th class="text-center">
              Error on test set (%)
            </th>
          </tr>
        </thead>
        <tbody>
          <tr id='addr0'>
            <td>
              <input type="text" placeholder='Dataset size' class="form-control" value="{{vm.equation.dataset_size}}" disabled/>
            </td>
            <td>
              <input type="text" placeholder='Proportion' class="form-control" value="{{vm.equation.proportion}}" disabled/>
            </td>
            <td>
              <input type="text"  placeholder='Error' class="form-control" ng-model="vm.test_err" disabled/>
            </td>
          </tr>
          <tr id='addr1'></tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
          <tr>
            <th class="text-center">
              Iterations
            </th>
          </tr>
        </thead>
        <tbody>
          <tr id='addr0'>
            <td>
              <input type="text" placeholder='Dataset size' class="form-control" ng-model="vm.iterations"/>
            </td>
          </tr>
          <tr id='addr1'></tr>
        </tbody>
      </table>
    </div>
    <div class="error col-md-12 column">{{vm.error}}</div>
    <button type="button" class="btn btn-primary center" ng-click="vm.train()">Train</button>
  </div>

</div>