{% load compress %}
{% load staticfiles %}

{% compress css %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/iconic/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lung-function.css' %}">

{% endcompress %}