<div class="row">
  <div class="col-sm-2">
    <ul class="nav nav-pills flex-column" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#{{vm.charts.pef.idTab}}">PEF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#{{vm.charts.fef.idTab}}">FEF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#{{vm.charts.fvc.idTab}}">FVC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#{{vm.charts.fev1.idTab}}">FEV1</a>
      </li>

    </ul>
    <hr class="d-sm-none">
  </div>
  <div class="col-sm-10 tab-content">
    <div id="{{vm.charts.pef.idTab}}" class="container tab-pane active">
      <chart chart="vm.charts.pef" start-progress="vm.startProgress()" stop-progress="vm.stopProgress()"></chart>
    </div>
    <div id="{{vm.charts.fef.idTab}}" class="container tab-pane fade">
      <chart chart="vm.charts.fef" start-progress="vm.startProgress()" stop-progress="vm.stopProgress()"></chart>
    </div>
    <div id="{{vm.charts.fvc.idTab}}" class="container tab-pane fade">
      <chart chart="vm.charts.fvc" start-progress="vm.startProgress()" stop-progress="vm.stopProgress()"></chart>
    </div>
    <div id="{{vm.charts.fev1.idTab}}" class="container tab-pane fade">
      <chart chart="vm.charts.fev1" start-progress="vm.startProgress()" stop-progress="vm.stopProgress()"></chart>
    </div>
  </div>
</div>

<div class="spin" ng-show="vm.activated">
  <div class="content">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>